


/*Codigo para pc pantalla completa*/
@media (min-width:1900px){
.body1{

background-image: url(images/fondo.png);
background-position: auto;
background-repeat: no-repeat;
background-size: cover;

}

.izquierdo{
    display: block;
    
    
}

.izquierdo img{
    width: 60px;
}


.photos-overlay {
    position: absolute; /* o absolute si prefieres */
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 700px; /* Ancho del contenedor */
}

.photo {
    position: absolute;
    width: 81px;
    
    object-fit: cover;
    border-radius: 8px;
    
    
    
    transition: transform 0.3s ease;
    
}

.photo-1 {
    width: 83px;
    right: 420px;
    z-index: 3;
    transform: rotate(5deg);
}

.photo-2 {
    
    right: 210px;
    z-index: 2;
    transform: rotate(-3deg);
}

.photo-3 {
    
    width: 100px;
    right: 0;
    z-index: 1;
    transform: rotate(2deg);
}

/* Efecto hover para interactividad */
.photo:hover {
    transform: scale(1.1) rotate(0deg);
    z-index: 4;
}







.fotos{
    display: flex;
    margin-left: 55px;
    text-align: center;

}
 .fotos img{
    position: relative;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 10px;
 }

.fotos1{
    display: flex;
    margin-left: 55px;
    

}
 .fotos1 img{
    position: relative;
    width: 30px;
    height: 30px;
    top: 9px;
    left: 10px;
 }

.fotos2{
    display: flex;
    margin-left: 55px;

}
 .fotos2 img{
    position: relative;
    width: 29px;
    height: 26px;
    top: 13px;
    left: 10px;
 }


 


.sliding-squarenow{
    display: none;
}


.sliding-square {
    width: 300px;
    height: 1400px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: slideRight 0.5s ease-in-out forwards;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: -1;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%) translateY(-50%);
        
    }
    100% {
        transform: translateX(0) translateY(-50%);
        
    }
}


@keyframes slideLeft {
   

    0%{
        transform: translateX(0) translateY(-50%);
    }

    100%{

        transform: translateX(-100%) translateY(-50%);

    }





}

.derecha{

animation: slideLeft 0.7s ease-in-out forwards ;

}




.lenguajes{
    display: none;
}
.lenguajes1{
    display: block;
    animation: mapa 1s ease-in-out forwards;
}





@keyframes mapa {

    0%{opacity: 0;}

    50%{ opacity: 0; }
    
    100%{ opacity: 1;
    }
}





.menu{
    
    display: block;
   

}

.menu1{
    animation: desvanecer 0.7s ease-in-out forwards;
     
}

.menu2{


    animation: mapa 0.7s ease-in-out forwards ;
    display: block;

}



@keyframes desvanecer{

    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        
    }


}


.atras{
    animation: mapa 0.7s ease-in-out forwards ;
    position: absolute;
    top: 5px;
    left: 2px;

}

.atras1{
    animation: desvanecer 0.7s ease-in-out forwards;
    display: none;
    
}

.titulo{
animation: fadeIn 1.5s ease-in-out forwards;
    text-align: center;
    color: white;
    font-size: 150px;

}






.fotos1:hover ol{
background-color: rgb(216, 215, 215);
border-radius: 10px;


    

}

.fotos2:hover ol{
background-color: rgb(216, 215, 215);
border-radius: 25px;
    

}


.central{

display: flex;
justify-content: center;
position: absolute;
top: 10%;
left: 25%;


}

.central img{
    width: 220px;
    height: 220px;
    border-radius: 25%;
    position: absolute;
    justify-content: center;
    top: 110%;
    animation: entrada 0.5s ease-in-out forwards;
}






@keyframes fadeIn{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }


}

@keyframes entrada {

0%{
    transform: translateY(200px);
}

100%{

    transform: translateY(0);

}

}

.video-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            overflow: hidden;
        }

        .video-background video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

.container1{

color: white;
    font-size: 30px;
    position: absolute;
    top: 40%;
    background-color: black;
    border-radius: 10%;
    
    

}

.container1 h1{

margin-left: 30px;


}
.container1 ol{

margin-right: 20px;

}

.foto1 img{
    width: 200px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    border-radius: 20%;

}


.container2{

    color: white;
    font-size: 40px;
    animation: separado 55s ease-in-out infinite;



}

@keyframes separado{

    0% {
        opacity: 0;
    }

    10%{
        opacity: 0;
    }


    12%{
        opacity: 1;
    }
    
    90%{
        opacity: 1;
    }

    95%{
        opacity: 0;
    }
}


.container3{
     bottom: 30%;
    color: white;
    text-align:center;
    position: absolute;
    left: 30%;
    font-size: 30px;
    animation: textoo 2s ease-in-out forwards;
}

@keyframes textoo {

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }


}





}



@media (max-width:600px){

    .body1{

background-image: url(images/fondo2.jpg);


background-size: auto;
background-position: auto;
background-repeat: no-repeat;

}

.izquierdo{
    display: block;
    
    
}

.izquierdo img{
    width: 60px;
}


.photos-overlay {
    position: absolute; /* o absolute si prefieres */
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 60px; /* Ancho del contenedor */
}

.photo {
    position: absolute;
    width: 81px;
    
    object-fit: cover;
    border-radius: 8px;
    
    
    
    transition: transform 0.3s ease;
    
}

.photo-1 {
    width: 94px;
    right: 190px;
    z-index: 3;
    transform: rotate(5deg);
}

.photo-2 {
    
    right: 100px;
    z-index: 2;
    transform: rotate(-3deg);
}

.photo-3 {
    
    width: 100px;
    right: 0;
    z-index: 1;
    transform: rotate(2deg);
}

/* Efecto hover para interactividad */
.photo:hover {
    transform: scale(1.1) rotate(0deg);
    z-index: 4;
}


.fotos{
    display: flex;
    margin-left: 5px;
    text-align: center;

}
 .fotos img{
    position: relative;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 10px;
 }

.fotos1{
    display: flex;
    margin-left: 5px;
    

}
 .fotos1 img{
    position: relative;
    width: 30px;
    height: 30px;
    top: 9px;
    left: 05px;
 }

.fotos2{
    display: flex;
    margin-left: 5px;

}
 .fotos2 img{
    position: relative;
    width: 29px;
    height: 26px;
    top: 13px;
    left: 10px;
 }


 


.sliding-squarenow{
    display: none;
}


.sliding-square {
    width: 200px;
    height: 1400px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation: slideRight 0.5s ease-in-out forwards;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    border-radius: 8px;
    z-index: -1;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%) translateY(-50%);
        
    }
    100% {
        transform: translateX(0) translateY(-50%);
        
    }
}


@keyframes slideLeft {
   

    0%{
        transform: translateX(0) translateY(-50%);
    }

    100%{

        transform: translateX(-100%) translateY(-50%);

    }





}

.derecha{

animation: slideLeft 0.7s ease-in-out forwards ;

}




.lenguajes{
    display: none;
}
.lenguajes1{
    display: block;
    animation: mapa 1s ease-in-out forwards;
}





@keyframes mapa {

    0%{opacity: 0;}

    50%{ opacity: 0; }
    
    100%{ opacity: 1;
    }
}





.menu{
    
    display: block;
   background-color: white;
   border-radius: 8%;

}

.menu1{
    animation: desvanecer 0.7s ease-in-out forwards;
     background-color: white;
     border-radius: 8%;
}

.menu2{


    animation: mapa 0.7s ease-in-out forwards ;
    display: block;
background-color: white;
border-radius: 8%;
}



@keyframes desvanecer{

    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        
    }


}


.atras{
    animation: mapa 0.7s ease-in-out forwards ;
    position: absolute;
    top: 5px;
    left: 2px;

}

.atras1{
    animation: desvanecer 0.7s ease-in-out forwards;
    display: none;
    
}

.titulo{
animation: fadeIn 1.5s ease-in-out forwards;
    text-align: center;
    color: white;
    font-size: 80px;
    z-index: -4;

}






.fotos1:hover ol{
background-color: rgb(216, 215, 215);
border-radius: 10px;


    

}

.fotos2:hover ol{
background-color: rgb(216, 215, 215);
border-radius: 25px;
    

}


.central{

display: flex;
justify-content: center;
position: absolute;
top: 10%;
left: 10%;


}

.central img{
    width: 150px;
    height: 150px;
    border-radius: 25%;
    position: absolute;
    justify-content: center;
    top: 110%;
    animation: entrada 0.5s ease-in-out forwards;
}






@keyframes fadeIn{

    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }


}

@keyframes entrada {

0%{
    transform: translateY(200px);
}

100%{

    transform: translateY(0);

}

}

.video-background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            overflow: hidden;
        }

        .video-background video {
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

.container1{
width: 300px;
color: white;
    font-size: 16px;
    position: absolute;
    top: 60%;
    right: 0;
    bottom: 50px;
    background-color: black;
    border-radius: 10%;
    
    

}

.container1 h1{

margin-left: 30px;


}
.container1 ol{

margin-right: 20px;

}

.foto1 img{
    display: none;
    width: 200px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    border-radius: 20%;

}


.container2{
    position: absolute;
    color: white;
    top: 20%;
    background-color: rgba(21, 99, 187, 0.418);
    font-size: 20px;
    animation: separado 55s ease-in-out infinite;
    border-radius: 10%;
    z-index: -1;



}

@keyframes separado{

    0% {
        opacity: 0;
    }

    10%{
        opacity: 0;
    }


    12%{
        opacity: 1;
    }
    
    90%{
        opacity: 1;
    }

    95%{
        opacity: 0;
    }
}


.container3{
     bottom: 10%;
    color: white;
    text-align:center;
    position: absolute;
    
    font-size: 30px;
    animation: textoo 2s ease-in-out forwards;
}

@keyframes textoo {

    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }


}











}










